<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  
    <appSettings>
        <add key="DBServer" value=""/>
        <add key="DBName" value=""/>
        <add key="DBUsername" value=""/>
        <add key="DBPassword" value=""/>
      
        <add key="sysDBType" value=""/>
        <add key="sysLicenseServer" value=""/>
        <add key="sysDBServer" value=""/>
        <add key="sysDBUsername" value=""/>
        <add key="sysDBPassword" value=""/>

        <add key="sysDftDBCompany" value=""/>
        <add key="sysSAPUsername" value=""/>
        <add key="sysSAPPassword" value=""/>

      
  </appSettings>

    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
